    .about{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 13%;

    }

    .about img {
        border-radius: 10px;
        transition: transform 0.3s ease;
    }

    .about img:hover {
        transform: scale(1.05);
    }

    .btn {
        display: inline-block;
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
        font-size: 1rem;
        color: #fff;
        background-color: #007bff;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

    .btn:hover {
    
        background-color: #0056b3;
        transform: scale(1.05);
    }

    .card {

        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        padding: 2rem;
        max-width: 633px;
        margin: 2rem auto;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        margin-left: 1%;
    }

    .card h1 {
        font-size: 2.5rem;
        color: #222;
        margin-bottom: 1rem;
        text-align: center;
    }

    .card p {
        font-size: 1.1rem;
        line-height: 1.8;
        color: #666;
    }
    .card1{
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        padding: 2rem;
        max-width: 300px;
        margin: 2rem auto;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        background-image: url(../assets/Rohith/giphy.webp);
        color: white;
        background-repeat: no-repeat;
           background-size: cover;
        
        
    }
    .card2{
        
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        padding: 5rem 2rem; 
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        background: rgba( 255, 255, 255, 0.3 );
    
    }
    .container {
        display: flex;
        gap: 20px; 
    }
    .card{
        max-width: 100%;
    }



















